$background-color : #F5F5F5;
$form-control-color:#EEEEEE;
$plus-circle-color:#24298F;
$card-header-color: #d3d3d3;
$input-border-color:#E4E4E4;

.container-fluid {
    .row {
        fieldset {
            .text-form-right {
                text-align: right;

                @media (max-width: 992px) {
                    text-align: left;
                }
            }
            .text-leave{
                position: relative;
            .text-radio,
            .text2-radio {
                margin-right: 1.8em;
            }
           
            .text-error{
              position: absolute;
              bottom: 0%;
              left: 0%;
              color: red;
              font-size:0.8em !important;
              transform: translate(25%, 50%);
              @media (max-width:991.98px) {
                transform: translate(0%, 25%);
                font-size:.7em !important;
              }
            }
        }

            .text-total-days {
                margin-left: 5em;
            }

            .expected-leave-text {
                .date-input {
                    .icon-text {
                        font-size: 2.3em;
                    }
                }
            }
         
         .text-errors{
            color: red;
            font-size:.8em !important;
            @media (max-width:991.98px) {
           
              font-size:.7em !important;
            }
         }
              
                   

                    .MuiFormControl-root {
                        width: 100% !important;
                        .MuiInputBase-input {
                            background-color: $form-control-color;
                            border: 2px solid $input-border-color;
                            border-radius: 2px;
                        }

                        .MuiInput-underline {
                            &::after {
                                content: none !important;
                            }

                            &::before {
                                content: none !important;
                            }
                        }

                     

                    }
                




                .daysNum {
                    width: 100px !important;

                }

                .end-date,
                .form-select {
                    background-color: $background-color;
                }

                .form-control {
                    background-color: $form-control-color;
                }

                ::-webkit-calendar-picker-indicator {
                    filter: invert(0.5);
                    // display: none;
                }

                .plus-text {
                    border: 2px solid none;
                    border-radius: 0 0 50px 50px;
                    background-color: $background-color;
                    width: 11% !important;

                    @media (max-width: 992px) {
                        background-color: transparent;
                    }

                    .plus-circle {
                        border: 2px solid $plus-circle-color;
                        border-radius: 50%;
                        font-size: 1.7rem;
                        font-weight: 900;
                    }
                }

                .text-total-days {
                    text-align: right;
                    font-size: 1.1rem;
                }

                .card {
                    .card-header {
                        background-color: $card-header-color;

                        h5 {
                            font-size: 1rem !important;
                        }

                    }
                }

            }

            .card {
                .card-header {
                    background-color: $card-header-color;

                    h5 {
                        font-size: 1rem !important;
                    }

                }
            }

            .cancel-btn {
                background-color: $background-color;
                width: 6em;
                line-height: 1.3 !important;
                text-align: center;
            }

            .submit-btn {
                background-color: $plus-circle-color;
                color: white;
                font-weight: 600;
                width: 6em;
                line-height: 1.3 !important;
                text-align: center;
            }


        }
    }